:root {
  --dark-brown: #3D3531;
  --light-brown: #AD9F8C;
  --background: #191717;
  --text: #F1EDE4;
}

body {
  background: var(--background) !important;
  color: var(--text) !important;
}

#header, .mobile-header {
  background: var(--dark-brown) !important;
  color: var(--light-brown) !important;
}

a, a:hover {
  color: var(--light-brown) !important;
}


[id^=math\.] {
  color: #363635;
  display: inline-block;
  border: 1px solid #363635;
  box-shadow: 2px 2px 2px black;
  padding: 1em;
  margin: 0.5em;
}

[id^=math\.] {
  color: #363635;
  display: inline-block;
  border: 1px solid #363635;
  box-shadow: 2px 2px 2px black;
  padding: 1em;
  margin: 0.5em;
}

[id^=math\.]:hover {
  color: #fff;
  background-color: #864B76;
}

#content {
  margin: 0.7em 1em !important;
}

#cu-identity {
  display: none !important;
}

body {
  font-family: Arial, Helvetica, sans-serif !important;
}

#labstabs {
  display: none !important;
}

.metatable tbody > tr:nth-child(odd) {
  display: none !important;
}

.endorsers{
  display: none !important;
}

#abs-outer .extra-services .full-text ul li:nth-child(3) {
  display: none !important;
}

#abs-outer .extra-services .full-text ul li:nth-child(4) {
  display: none !important;
}

#abs-outer .extra-services .full-text .abs-license {
  display: none !important;
}

#bib-cite-trigger, #bib-cite-trigger:hover {
  color: var(--light-brown) !important;
}

#abs-outer .extra-services .bookmarks{
  display: none !important;
}

#abs-outer > .leftcolumn > .subheader {
  position: absolute;
  width: 10em;
  height: 100vh;
  z-index: 10;
}

#content-inner, #content-inner + div {
  padding: 0 5em 0 15em;
  font-size: 1em !important;
}

#content-inner blockquote {
  margin: 0.5em 20px 0.5em 20px !important;
  /* margin-block-start: 0.67em !important; */
  /* margin-block-end: 0.67em !important; */
  /* margin-inline-start: 0 !important; */
  /* margin-inline-end: 0 !important; */
}

#content-inner h1.title {
  font-size: 2em !important;
  margin-bottom: 0em !important;
}

#content-inner div.authors a {
  font-size: 1.5em !important;
}

#content-inner div.authors {
  margin-bottom: 2em !important;
}

footer {
  display: none !important;
}

