[id^=math\.] {
  color: #363635;
  display: inline-block;
  border: 1px solid #363635;
  box-shadow: 2px 2px 2px black;
  padding: 1em;
  margin: 0.5em;
}

[id^=math\.] {
  color: #363635;
  display: inline-block;
  border: 1px solid #363635;
  box-shadow: 2px 2px 2px black;
  padding: 1em;
  margin: 0.5em;
}

[id^=math\.]:hover {
  color: #fff;
  background-color: #864B76;
}

#content {
  margin: 0.7em 1em !important;
}

#cu-identity {
  display: none !important;
}

body {
  font-family: Arial, Helvetica, sans-serif !important;
}

#labstabs {
  display: none !important;
}

.metatable tbody > tr:nth-child(odd) {
  display: none !important;
}

.endorsers{
  display: none !important;
}

#abs-outer .extra-services .full-text ul li:nth-child(3) {
  display: none !important;
}

#abs-outer .extra-services .full-text ul li:nth-child(4) {
  display: none !important;
}

#abs-outer .extra-services .full-text .abs-license {
  display: none !important;
}

#abs-outer .extra-services .bookmarks{
  display: none !important;
}

footer {
  display: none !important;
}
